<div class="card">
    <div class="card__title-container">
        <img class="card__img" src="{{0.flags.svg}}" alt="{{0.name}}">
        <h2 class="card__title">{{0.name.common}}</h2>
    </div>
    <div class="card__text-container">
        <p class="card__officail-name">Official name: {{0.name.official}}</p>
        <p class="card__capital">Capital: {{0.capital}}</p>
        <p class="card__population">Population: {{0.population}}</p>
        <p class="card__language">Languages: {{0.languages}}</p>
    </div>
</div>